<div class="card">
  <p-table [value]="orders()">
    <ng-template #header>
      <tr>
        <th pSortableColumn="id">
          <div>
            #
            <p-sortIcon field="id" />
          </div>
        </th>
        <th pSortableColumn="providerName">
          <div>
            Provider Name
            <p-sortIcon field="providerName" />
          </div>
        </th>
        <th pSortableColumn="status">
          <div>
            Status
            <p-sortIcon field="status" />
          </div>
        </th>
        <th pSortableColumn="method">
          <div>
            Method
            <p-sortIcon field="method" />
          </div>
        </th>
        <th pSortableColumn="grandTotal">
          <div>
            Grand Total
            <p-sortIcon field="grandTotal" />
          </div>
        </th>
        <th>
          <div>actions</div>
        </th>
      </tr>
    </ng-template>
    <ng-template #body let-order>
      <tr>
        <td>{{ order.id }}</td>
        <td>{{ order.providerName }}</td>
        <td>{{ order.status }}</td>
        <td>{{ order.method }}</td>
        <td>
          {{ order.grandTotal | currency:'MXN':'symbol-narrow':'1.2-2':'es-MX' }}
        </td>
        <td>
          <div class="table-actions">
            <app-details-order-button [order]="order" />
            <p-button icon="pi pi-money-bill" [rounded]="true" severity="success" (click)="confirmPay($event, order)" />
            <p-button icon="pi pi-times" [rounded]="true" severity="danger" (click)="confirmCancel($event, order)" />
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
